.header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 2;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.panel1 {
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 90%;
	border-radius: 20px;
	background-color: #90b2ec;
	color: white;
	font-family: Raleway, sans-serif;
}

.panel2 {
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 90%;
	border-radius: 20px;
	background-color: #cceeff;
	color: black;
	font-family: Raleway, sans-serif;
}

#fixedButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#phone{
	width: auto;
	max-height: 80%;
}